<!doctype html>
<title>Rick and Morty's Programming Contest</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>
<div id="logo">
  <a>
    <img src="../static/images/banner.jpg" alt="Rick and Morty Programming Contest">
  </a>
</div>
</body>


<p></p>
<div class=navbar>
<ul>
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
    {% endfor %}
</ul>
</div>



<p>
{% block body %}
<div class=page>

</div>
{% endblock %}

{% block description %}
<br>
{% endblock %}

