{% extends "index.html" %}

{% block body %}
	{% if incomplete_problems|length > 0 %}
	<h2><center>Incomplete</center></h2>
	<table>
		<tr>
			<th> # </th>
			<th> Points </th>
		</tr>
		{% for problem in incomplete_problems %}
		    	
			<tr>
				<th class="inc"><a href="{{url_for('problem_page',problem_num=problem)}}"> {{num2word(problem)}} </a></th>
				<th class="inc">{{incomplete_problems[problem]}}</th>
			</tr>

		{% endfor %}

	</table>
	{% endif %}

	{% if completed_problems|length > 0 %}
		<h2><center>Completed</center></h2>
		<table>
			<tr>
				<th> # </th>
				<th> Points </th>
				<th> Elapsed Time </th>
			</tr>
			{% for problem in completed_problems %}
			    	
				<tr>
					<th class="com"><a href="{{url_for('problem_page',problem_num=problem)}}"> {{num2word(problem)}} </a></th>
					<th class="com">{{completed_problems[problem]}}</th>
					<th class="com">{{time_finished[problem]}}</th>
				</tr>

			{% endfor %}


		</table>

		<h2><center>Total Points: {{user_points}} </center></h2>

    {% endif %}


    
{% endblock %}