{% extends "problem.html" %}

{% block description %}
<div class=description>
<p>
Rick is trying to calibrate his portal gun to get him and Morty to Alpha-Betrium, so that he can collect some money that <hlr>Magma-Q</hlr> owes him from an old bet (41 shmeckles is no petty change, thats <b>$6068</b> USD!). His dial isn't working properly, so he has to configure the destination manually. To do this, he needs to generate the <hlb>5823th</hlb> shleeble number. He knows the first few shleeble numbers (counting from 1) are <hlp>0</hlp>, <hlp>1</hlp>, and <hlp>6</hlp>. He can't remember the rest..
</p>

The formula for the nth shleeble number is:

<blockquote><pre><code><div class=code>
	Shleeble(n) = (Shleeble(n-1) - Shleeble(n+1)) / (T(n) * 11)
 </div></code></pre></blockquote>

where T(n) is the nth triangle number (1,3,6,10,15,21...). 


<br>
<br>
<hr class="style12">
<br>
What is the <hlb>5823th</hlb> shleeble number (mod 1000000)?
</div>
{% endblock %}

{% block answer_form %}
{{ super() }}
{% endblock %}