{% extends "index.html" %}
{% block body %}
<h2>Rules</h2>

<div style="width:80%; margin: auto">
<ul>
<li> There are a total of <u>seven</u> problems. </li>
<br>
<li> Each problem is worth a certain amount of points. Answer the problem to get them! </li>
<br>
<li> Whoever has the most amount of points once time expires <i>wins</i>. </li>
<br>
<li> In the case of a tie, whomever got their points first wins. </li>
<br>
<li> There will be a prize for <hlg>first</hlg>, <hlb>second</hlb>, and <hlp>third</hlp> places! (I might ask Gene to make another trophy) </li>
<br>
<li> You can google things to help you solve a problem, but remember to use your time carefully, there are only two hours for the contest (they will fly by). </li>
<br>
<li> <div style="color:red"> Trying to mess with/hack the contest website is absolutely forbidden, and will lead to disqualification. </div> </li>
<br>
<li> Most importantly, don't get stressed - you're surrounded by your friends and coworkers, and food is coming soon. Your performance in this contest is no way reflective of your work abilities. These are just obscure puzzles that serve almost no real-world purpose other than being fun. So please, have fun! :) </li>
</ul>
</div>
{% endblock %}