{% extends "index.html" %}
 
{% block body %}

<style type="text/css">
  .gist {width: 600px !important; align-content: center;}
  .gist-file
  .gist-data {max-height: 400px; max-width: 600px;}
</style>

<h3>If you want to get to the crux of each problem faster, you can use these templates for reading in from a file.</h3>
{% for problem_num in gist_urls %}

<center><h2>Problem {{problem_num}}</h2></center>


<center><script src="{{ gist_urls[problem_num] }}"></script></center>

{% endfor %}


{% endblock %}