{% extends "index.html" %}
 
{% block body %}

<h3>If you want to get to the crux of each problem faster, you can use these templates for reading in from a file.</h3>

<center><h2>Problem 1</h2></center>
<!-- <blockquote><pre><code><div class=code>

	f = open('problem1_input.txt','r')
	galaxies = [line.strip().split(',') for line in f.readlines()]
	for galaxy in galaxies:
	    galaxy[1] = int(galaxy[1])
	    galaxy[2] = int(galaxy[2])
	    galaxy[3] = int(galaxy[3])

</div></code></pre></blockquote> -->
<style type="text/css">
  .gist {width: 600px !important; align-content: center;}
  .gist-file
  .gist-data {max-height: 400px; max-width: 600px;}
</style>

<center><script src="https://gist.github.com/vpatov/043cee6db47946485d102cccd91f52ac.js"></script></center>

<p></p>
<center><h2>Problem 2</h2></center>
<center><h3>Reading from file not necessary for problem.</h3></center>

<center><h2>Problem 3</h2></center>
<!-- <blockquote><pre><code><div class=code>

	f = open('problem1_input.txt','r')
	galaxies = [line.strip().split(',') for line in f.readlines()]
	for galaxy in galaxies:
	    galaxy[1] = int(galaxy[1])
	    galaxy[2] = int(galaxy[2])
	    galaxy[3] = int(galaxy[3])

</div></code></pre></blockquote> -->
<style type="text/css">
  .gist {width: 600px !important; align-content: center;}
  .gist-file
  .gist-data {max-height: 400px; max-width: 600px;}
</style>

<center><script src="https://gist.github.com/vpatov/043cee6db47946485d102cccd91f52ac.js"></script></center>

<br>
<br>
<br>
{% endblock %}