/*#banner {
    background:url('./images/banner.jpg');
    width: 100%;
    height: 100%;
}


body                { font-family: sans-serif; background: black; }
a, h1, h2           { color: #377ba8; }
h1, h2              { font-family: "Source Code Pro", monospace; margin: 0; }
h1                  { border-bottom: 2px solid #999; }
h2                  { font-size: 1.2em; }

.page               { margin: 0.8em auto; width: 60em; border: 2px solid #bab;
                    padding: 2em; background: #ddffa0; }
.entries            { list-style: none; margin: 0; padding: 0; }
.entries li         { margin: 0.8em 1.2em; }
.entries li h2      { margin-left: -1em; }
.remove-entry       { font-size: 0.8em; border-bottom: 2px solid #ccc; }
.remove-entry dl    { font-weight: bold; }
.metanav            { text-align: right; font-size: 0.8em; padding: 0.3em;
                    margin-bottom: 1em; background: black; }
.flash              { background: #ae35F5; padding: 0.5em;
                    border: 1px solid #aacbe2; }
.error              { background: #f0d6d6; padding: 0.5em; }*/

body {
    background: black;
    font-family: Verdana;
    font-size: 30px;
    color: white;
}


.metanav {
    text-align: center; 
    font-family: "Comic-Sans";
    font-size: 2em; 
    padding: 0.3em;
    margin-bottom: 1em; 
    }

#logo img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin:auto;
  display:block
}