@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400');


h2 {
  font-family: 'Source Code Pro', sans-serif;
  display: block;
  font-size: 26px;
  text-shadow: 0px 0px 20px #ff0000;
}

div.h2c {
  font-family: 'Source Code Pro', sans-serif;
  display: block;
  font-size: 26px;
  text-shadow: 0px 0px 20px #00ff00;
  
}

div.h2i {
  font-family: 'Source Code Pro', sans-serif;
  display: block;
  font-size: 26px;
  text-shadow: 0px 0px 20px #ff0000;
}

h3 {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 16px;
  width: 60%;
  color: white;

}

body {
  background: black;
  font-family: Verdana;
  font-size: 15px;
  color: white;
}


.navbar {
  font-family: 'Source Code Pro', sans-serif;
  text-shadow: 0px 0px 15px #25c497;
  font-size: 16px;
  color: white;
}

.problems_list {
  font-family: 'Source Code Pro', sans-serif;
  display: block;
  font-size: 22px;
  /*text-shadow: 0px 0px 20px #ff0000;*/
}

div.uncompleted_problems_list {
  text-shadow: 0px 0px 20px #ff0000;
}

div.completed_problems_list {
  text-shadow: 0px 0px 20px #00ff00;
}

div.problems_list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color : #b71616;
}


div.problems_list li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

div.problems_list li a:hover {
    background-color: #111;
}


div.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

div.navbar li {
    float: left;
    
}

div.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

div.navbar li a:hover {
    background-color: #111;
}


/*#02030a;*/

/*#283a56*/
.description {
  margin: 0.8em auto;
  width: 88%;
  border: 2px solid #bab;
  padding: 2em;
  background: #02030a;
  text-shadow: 0px 0px 25px #61647a;
  font-family: 'Source Code Pro', sans-serif;
  /*font-family: Avenir Next Bold;*/
  font-size: 16px;
  color: white;
}

div.description a:link {
  color:#2ecc7a;
}

div.description a:visited {
  color:#0c6654;
}

.code {
  background: #1c1c1c;
  font-family: Monospace;
  text-shadow: None;
  font-size: 14px;
  color: #8ecbce;
  width: 100%;
  align-content: center;
}

input[type="submit"] {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    color: #009900;
    cursor: pointer;
}

/*input[type="text"] {
  background: #0c0c0c;
  border: 1;

  color: #adadad;
}*/

input {
    background: transparent;
    color: #adadad;
    border: 1px solid #666666;
    background: #0c0c0c;
    padding: 0 2px;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

hr {
  height: 32px;
  background: url("http://i.imgur.com/XLjssWe.png") repeat-x 0 0;
  border: 0;
  background-size: 26px;
}


#logo img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin:auto;
  display:block
}